button {
    text-decoration: none; /* Quita la subrayado por defecto */
    color: #007bff; /* Cambia el color de texto a azul (puedes ajustarlo) */
    border: 1px solid #007bff; /* Agrega un borde de 1px sólido */
    padding: 5px 10px; /* Añade espacio de relleno alrededor del texto */
    display: inline-block; /* Hace que los enlaces se muestren en línea con otros elementos */
    border-radius: 5px; /* Agrega bordes redondeados */
    margin-right: 10px; /* Agrega un margen derecho entre los enlaces */
  }
  
  /* Cambio de estilo al pasar el cursor sobre los enlaces */
  button:hover {
    background-color: #007bff; /* Cambia el fondo a azul al pasar el cursor */
    color: white; /* Cambia el color del texto a blanco */
  }